body > .container{
	padding-top: 60px;
}

.btn.btn-default{
	width: 100px;
	padding: 10px 10px;
	margin: 10px 10px
}

.trap{
	border: 2px solid #000000;
}

.red{
	border: 2px solid #FF0000;
}

.blue{
	border: 2px solid #0000FF;
}

.neutral{
	border: 2px solid #FFFF00;
}